{% extends 'programs/base.html' %}
{% block title %}Hera Control: Home Page{% endblock %}

{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading"><strong>Welcome to Hera Home Page</strong></h1>
      <p class="lead">This is the place to start.</p>
      <p>
        <!--<a href="#" class="btn btn-primary">Launch it</a>-->
        <!--<a href="#" class="btn btn-secondary">See Analytics</a>-->
      </p>
      <p>
    </div>
</section>

<div class="bg-white">
  <div class="container center-block">
    <div class="row">
      <div class="col-md-4 m-b-lg">
         <div class="panel panel-default">
           <div class="panel-body text-center">
             <h5 class="panel-title">Programming</h5>
             <p>This section is entirely dedicated to programming: see full list of programs, mark your favourite or create your owns.</p>
             <a href="/programs/" class="btn btn-primary"><span class="icon icon-add-user"></span> Start Programming</a><br><br>
           </div>
         </div>
       </div>
       <div class="col-md-4 m-b-lg">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h5 class="panel-title">Remote Activities</h5>
              <p>Easily work remotely on your laundry equipment and launch programs, maintenance or special actions in just one click.</p>
              <a href="" class="btn btn-primary">Start Performing</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 m-b-lg">
           <div class="panel panel-default">
             <div class="panel-body text-center">
               <h5 class="panel-title">Analytics</h5>
               <p>Track productivuty and other useful metrics to maximise the performance of your laundry activities.</p>
               <a href="" class="btn btn-primary"><span class="icon icon-add-user"></span> Start Analysing</a>
             </div>
           </div>
         </div>
    </div>
  </div>
</div>

















{% endblock %}
